---
import { Icon } from "astro-icon";
import FloppyDisk from "./FloppyDisk.astro";

const projects = await Astro.glob("../content/projects/*.md");
//frontmatter file url rawContent compiledContent getHeadingsContent default
---

<section>
  <h2>
    <Icon name="pixelarticons:save" />
    <span>Projects</span>
  </h2>
  {
    projects.map(({ frontmatter, rawContent }) => (
      <section class="project">
        <aside>
          <FloppyDisk
            title={frontmatter.title}
            color={frontmatter.color}
            organization={frontmatter.organization}
            year={frontmatter.year}
          />
          <section class="technologies">
            <h3>Technologies</h3>
            <ul>
              {frontmatter.technologies.map((devicon: string) => (
                <li>
                  <div class="icon">
                    <i class={`devicon-${devicon}-plain`} />
                  </div>
                  <div>{devicon}</div>
                </li>
              ))}
            </ul>
          </section>
        </aside>
        <article>
          <p>{rawContent}</p>
        </article>
      </section>
    ))
  }
</section>

<style scoped>
  .project {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted lightcoral;
  }

  .project:last-child {
    border-bottom: none;
  }

  aside {
    flex: 30%;
  }
  article {
    flex: 70%;
    background-color: var(--green-tint);
    margin-left: 1rem;
    padding: 0.75rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px dotted lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .technologies li {
    flex: 0 0 33.333333%;
  }

  @media (max-width: 900px) {
    section {
      padding: 2rem 0;
      flex-direction: column;
      justify-content: center;
    }
    aside {
      justify-content: space-around;
      margin-bottom: 1rem;
    }
    article {
      border-radius: 0;
      border: 0;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-top: 1px dotted lightcoral;
      margin-left: 0;
    }
    iframe {
      height: 15rem;
    }

    /* .links {
      flex-direction: row-reverse;
      justify-content: space-between;
      .link {
        font-size: 0.9rem;
        svg {
          font-size: 1rem;
        }
      }
    } */
  }
</style>
