---
import { Icon } from "astro-icon";
import FloppyDisk from "./FloppyDisk.astro";

const projects = await Astro.glob("../content/projects/*.md");
//frontmatter file url rawContent compiledContent getHeadingsContent default
---

<section>
  <h2>
    <Icon name="pixelarticons:save" />
    <span>Projects</span>
  </h2>
  {
    projects.map(({ frontmatter, rawContent }) => (
      <section class="project">
        <aside>
          {frontmatter.title}
          <FloppyDisk title={frontmatter.title} color={frontmatter.color} />
          <section class="technologies">
            <h3>Technologies</h3>
            <ul>
              {frontmatter.technologies.map((devicon: string) => (
                <li>
                  <div class="icon">
                    <i class={`devicon-${devicon}-plain`} />
                  </div>
                  <div>{devicon}</div>
                </li>
              ))}
            </ul>
          </section>
        </aside>
        <article>
          <p>{rawContent}</p>
        </article>
      </section>
    ))
  }
</section>

<style scoped>
  .project {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px dotted var(--green-pastel);
  }

  .project:last-child {
    border-bottom: none;
  }

  aside {
    flex: 30%;
  }

  .disk-wrap {
    margin: 0 auto;
    border-radius: 1rem;
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 0.5rem;
    width: 205px;
    height: 205px;
    transform: rotateX(45deg) rotateZ(-45deg) translateZ(0px);
    transform-style: preserve-3d;
    animation: float 8s ease-in-out infinite;
    animation-iteration-count: infinite;
  }

  .disk {
    position: relative;
    transform: translateY(6px) translateZ(10px);
    transform-style: preserve-3d;
    clip-path: polygon(85% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
  }

  .reader {
    height: 50px;
    width: 130px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .metal {
    height: 100%;
    width: 80%;
    margin-left: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: linear-gradient(
      90deg,
      rgb(236, 236, 236) 20%,
      rgb(227, 227, 227) 79%
    );
  }

  .rectangle {
    height: 80%;
    width: 20%;
    margin-left: auto;
    margin-right: 15%;
    border-top: 4px solid rgb(227, 227, 227);
  }

  article {
    flex: 70%;
    background-color: var(--green-tint);
    margin-left: 1rem;
    padding: 0.75rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px dotted lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .technologies li {
    flex: 0 0 33.333333%;
  }
</style>
